.bg {
    background-image: url(/images/bg-image.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(2px);
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.main-content {
    position: relative;
    width: 100vw;
    height: 50vh;
}

.homeItem1, .homeItem2, .homeItem3 {
    /* background-color: rgb(0, 0, 0); */
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    /* font-weight: bold; */
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 10%;
    top: 50%;
    /* top: 30%;
    left: 10vw; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* z-index: 2; */
    width: 80%;
    padding: 20px;
    text-align: center;
}

.homeTitle {
  
}

@media screen and (min-width: 768px) {
    .main-content {
        height: 25vh;
        position: static;
    }

    .bg {
        display: none;
    }

    .homeTitle {
        font-size: 1.6em;
        color: white;
        text-align: center;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.95);
    }

    a {
        text-decoration: none;
    }

    .homeItem1, .homeItem2, .homeItem3 {
        border: none;
        padding: 0;
        height: 0;
        /* position: absolute; */
    }

    .homeItem1 {
        width: 11%;
        left: 44.5%;
        top: 25%;
    }

    .homeItem2 {
        /* position: absolute; */
        left: 30%;
        top: 85%;
    }
    
    .homeItem3 {
        /* position: absolute; */
        left: -13%;
        top: 84.8%;
        /* bottom: 9.7%;
        right: 25vw; */
    }
}