i {
    color: white;
    font-size: 2em;
    position: fixed;
    right: 3vw;
    top: 3vh;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 0;
}

.home-btn {
    color: white;
    position: absolute;
    right: 7vw;
    top: 3.5vh;
}

.navbar-nav {
    display: none;
    width: 20%;
    height: 90%;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    right: 0;
    top: 10%;
    background-color: rgba(99, 99, 99, 0.8);
}

@media screen and (max-width: 600px) {
    nav {
        overflow: hidden;
    }
    i {
        overflow: hidden;
    }
    .navbar {
        overflow: hidden;
    }
    .navbar-nav {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        overflow: hidden;
    }
}