*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Regular";
  src: url(/fonts/TrajanPro-Regular.woff);
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Regular";
}
